body {
    background-color: #3F3D3D;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 30px;
    margin-right: 30px;
    font-family: 'Arial', sans-serif;
    color: #FFFF;
}

nav {
    margin: 20px;
}

a {
    color: #FFFF;
    font-weight: bolder;
    text-decoration: none;
    margin-left: 20px;
    margin-right: 20px;
}

a:hover {
    color: #A3A3A3
}  


.centrado {
    text-align: center;
}

h1,
h2 {
    text-align: center;
    margin: 0px;
    padding: 20px;
}

li {
    list-style: none;
}
#fondoCeleste {
    background-color: #5BC2F2;
}

#fondoAmarillo {
    background-color: #e4d12b;
}

#fondoNaranjo {
    background-color: #F8A552;
}

#fondoRojo {
    background-color: #FA6337;
}